# Ignore Extra files
extra/
Intial Idea - Virtual wardrobe assistant.docx
app features.xlsx

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env